.TopBar {
  font-family: "Quicksand", sans-serif;
  position: sticky;
  top: 0;
  display: block;
  padding: 0px;
  width: 100%;
  overflow: visible;
  z-index: 5;
  background: #00196A;
  height: 66px;
}

/* Dropdown Button */
.dropbtn {
  font-family: "Quicksand", sans-serif;
  background-color: #00196A;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width:129px;
  height: 58px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  font-family: "Quicksand", sans-serif;
  background-color: #00196A;
  position: relative;
  right: 0px;
  display:block;
  color: black;
  float: right;
  margin: 4px;
  text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-family: "Quicksand", sans-serif;
  display: none;
  position: absolute;
  color: black;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  /* font-size: 16px; */
  /* top: 62px; */
  min-width: 129px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: "Quicksand", sans-serif;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #00196A;
  opacity: 0.8;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #00196A;
  opacity: 0.8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  font-family: "Quicksand", sans-serif;
  display: block;
}

.linkbutton {
  font-family: "Quicksand", sans-serif;
  background-color: #00196A;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  display: block;
  width:129px;
  height:26px;
}

.linkbutton:hover {
  font-family: "Quicksand", sans-serif;
  color: red;
  opacity: 0.8;
}