.TopBar{
    font-size: xx-large;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border: 2px black solid;
    position: sticky;
    top: 0;
    display: block;
    padding: 0px;
    width: 100%;
    height:auto;
}
/* Dropdown Button */
.dropbtn {
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    text-align: right;
    position: relative;
    right: 0px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #a0a0a0;}