.TopBar{
    font-size: xx-large;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    top: 0;
    display: block;
    padding: 0px;
    width: 100%;
    height:auto;
    overflow: auto;
}
/* Dropdown Button */
.dropbtn {
    background-color: lavenderblush;
    color: #603f83ff;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
  }


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    background-color: lavenderblush;
    position: relative;
    right: 0px;
    display: block;
    color: #603f83ff;
    float: right;
    margin: 4px;
    text-align: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    color: #603f83ff;
    display: none;
    position: fixed;
    background-color: lavenderblush;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
    top: 68px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #603f83ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #3c1053ff;
    border: 2px solid lavenderblush;
    color: lavenderblush;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3c1053ff;
    border: 2px solid lavenderblush;
    color: lavenderblush;
  }


  .linkbutton {
    background-color: lavenderblush;
    color: #603f83ff;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    display: block;
  }

  .linkbutton:hover {
    background-color: #3c1053ff;
    border: 2px solid lavenderblush;
    color: lavenderblush;
  }