table, tr, th, td {
    border: 1px solid black
}

table {
    border-collapse: collapse;
}

.center{
    background-color: #11186a;
    color: #fefefe;
    /* font-family: Arial, Helvetica, sans-serif;
    text-align: left; */
    text-align: left;
    font-family: Helvetica; 
    font-style: normal; 
    font-variant: normal;
    font-size: 14px;
    /* line-height: 1.2; */
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vh;
}
