body {
  color: #11196B;
  font-family: "Quicksand", sans-serif;
}

tr, th, td {
  border: 1px solid black
}


table {
  border-collapse: collapse;
  padding: 0px;
  overflow: auto;
  display: inline-block;
  max-height: 300px;
  max-width: 100%;
}

.tablebox1
{
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 100%;
  margin-top: 3%;
  background-color: #718081;
  border: 2px solid rgb(36, 36, 36);
  border-radius: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.itemheader
{
  background: #11196B;
  color: #FFF;
  margin: 0;
  padding: 0px 10px 0px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
  border: black solid 1px;
}

.rowname
{
  position: sticky;
  background: #718081;
  left: -1px;
  z-index: 1;
  border: black solid 1px;
}

.headerrow
{
  background: #11196B;
  color: #FFF;
  margin: 0;
  padding: 0px 0px 0px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  left: -1px;
  z-index: 11;
  border: black solid 1px;
  overflow: hidden;
}

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #5D696A;
  margin:0;
}

form {
  margin-right: 10%;
  margin-left: 10%;
}

h1,
h4 {
  text-align: center;
  margin-bottom: 1vh;
  color: #11196B;
}
  
input[type="text"],
select {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 40px;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
}

input[type="submit"] {
  width: 100%;
  background-color: #11196B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s all;
  font-weight: 700;
}

input[type="submit"]:hover {
  background-color: #11196B;
  color: white;
  opacity: 0.7;
}

input[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 6px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="reset"] {
  width: 100%;
  background-color: lavenderblush;
  color: #603f83ff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s all;
  font-weight: 700;
}

.form-data {
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 60000px;
  margin-top: 3%;
}

.databox
{
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 80%;
  margin-top: 3%;
  background-color: #2f3c9e;
  border:none;
  border-radius: 20px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-top: 3vh;
  color: white;
}

form > *:not(:last-child) {
  display: block;
  margin-bottom: 10px; 
} 

.ateamtitle
{
  text-align: center;
}

.inside_btn {
  background-color: #11196B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s all;
  font-weight: 700;
  width:100%;
}

.inside_btn:hover {
  background-color: #11196B;
  opacity: 0.7;
}

.addteambtn {
  background-color: #252525;
  color: white;
  padding: 14px 20px;
  margin: 0 0;
  border: none;
  cursor: pointer;
  transition: 0.6s all;
  font-weight: 700;
  width:100%;
  }
  
  .addteambtn:hover {
  background-color: #757575;
  opacity: 0.7;
  }

.delbtn {
  background-color: #252525;
  color: white;
  padding: 2px 10px;
  margin: 0 0;
  border: none;
  cursor: pointer;
  transition: 0.6s all;
  font-weight: 700;
  width:100%;
}

.delbtn:hover {
  background-color: #757575;
  opacity: 0.7;
  }

.workitem-name {
  width: 100%;
}

.radio-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}