body {
  background-color: #5D696A;
  margin:0;
  color:#11196B;
}

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

table,td,th {
  border-collapse: collapse;
  padding: 10px;
  margin: 0 auto;
}

table {
  background-color:#ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: scroll;
  max-height: 600px;
}

td {
  border-bottom: 2px solid ghostwhite;
  font-weight: 800;
}

tr:hover {
  background-color:#bdb4e0;
}

.db-container {
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;
}

.header-name {
  background-color: #2f3c9e;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 2000;
  font-size: medium;
}

.table-header {
  border: none;
}

.back-btn{
  margin: auto;
  height: 60px;
  width: 220px;
  border-radius: 8px;
  background-color:#2f3c9e;
  color: lavenderblush;
  font-size: 16pt;
}

.back-btn:hover {
  background-color: #00196A;
}