<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2 align="center">Data Graph</h2>

      <div
        id="container"
        style="width: 550px; height: 400px; margin: 0 auto"
      ></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script th:inline="javascript">
      $(function () {
        Highcharts.chart("container", {
          chart: {
            type: "columnrange",
            inverted: true
          },

          accessibility: {
            description:
              "Image description: A column range chart compares the monthly temperature variations throughout 2017 in Vik I Sogn, Norway. The chart is interactive and displays the temperature range for each month when hovering over the data. The temperature is measured in degrees Celsius on the X-axis and the months are plotted on the Y-axis. The lowest temperature is recorded in March at minus 10.2 Celsius. The lowest range of temperatures is found in December ranging from a low of minus 9 to a high of 8.6 Celsius. The highest temperature is found in July at 26.2 Celsius. July also has the highest range of temperatures from 6 to 26.2 Celsius. The broadest range of temperatures is found in May ranging from a low of minus 0.6 to a high of 23.1 Celsius."
          },

          title: {
            text: "Temperature variation by month"
          },

          subtitle: {
            text: "Observed in Vik i Sogn, Norway, 2017"
          },

          xAxis: {
            categories: [[${Names}]]
          },

          yAxis: {
            title: {
              text: "Temperature ( °C )"
            }
          },

          tooltip: {
            valueSuffix: "°C"
          },

          plotOptions: {
            columnrange: {
              dataLabels: {
                enabled: true,
                format: "{y}°C"
              }
            }
          },

          legend: {
            enabled: true
          },

          series: [
            {
              name: "Temperatures",
              data: [[${dates}]]
            }
          ]
        });
      });
    </script>
  </body>
</html>
