<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <title>ERROR</title>
  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/error.css">
  <!-- For live server - please remove in final iteration!-->
  <link rel="stylesheet" href="/src/main/resources/public/stylesheets/error.css">
</head>

<body style="margin:0; background-color:#11196B; color: white; font-family: 'Oswald', sans-serif; font-weight: bolder; text-align: center;">
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>

  <div class='container'>
    <div class='_404' style="color: #e42323;">404</div>
    <hr>
    <br>
    <div class='_1'>PAGE NOT FOUND ):</div><br><br><br>
    <button class='btn' onclick="window.history.back();">Go Back</button> <div></div>
    <p th:text="${message}">Exception message</p>
    <div>If you don't know why you reached this page, contact your administrator with a few details of how you got here!</div>
  </div>
</body>
</html>