<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">
</html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

  <!--Font & Icon import-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google font Quicksand-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  

  <link rel="stylesheet" href="stylesheets/PositionView.css">
  <!-- For VSCode live server -->
  <link rel="stylesheet" href="/src/main/resources/public/stylesheets/PositionView.css">

  <style>
    ::-webkit-scrollbar {display:none;}
    /* Chrome, Safari, Edge, Opera */
    html {
      scrollbar-width: none;
    }
  </style>
  <title>View Position Database</title>
</head>

<body style="font-family: Quicksand, sans-serif;">
  <div class="db-container">
    <h1 style="font-weight: bolder;">BGC Positions</h1><br>
    <table class="styled-table">

      <thead class="table-header" style="color: lavenderblush;">
        <th class="header-name" style="border-top-left-radius: 7px;">Resource</th>
        <th class="header-name">Team</th>
        <th class="header-name">Position</th>
        <th class="header-name">Start Date</th>
        <th class="header-name">End Date</th>
        <th class="header-name">Has End Date</th>
        <th class="header-name">Is Coop</th>
        <th class="header-name">Is Filled</th>
        <th class="header-name">Edit</th> <!-- for edit icon-->
        <th class="header-name" style="border-top-right-radius: 7px;">Delete</th> <!-- for delete icon-->
      </thead>

      <tr th:each="n:${Positions}">
        <td th:text="${n.name}"></td>
        <td th:text="${n.team}"></td>
        <td th:text="${n.role}"></td>
        <td th:text="${n.StartDate}"></td>

        <th:block th:switch="${n.hasEndDate}">
          <td th:case="true" th:text="${n.EndDate}"></td>
          <td th:case="false">No End Date</td>
        </th:block>

        <th:block th:switch="${n.hasEndDate}">
          <td th:case="true"><div class="true-div" th:text="${n.hasEndDate}"></div></td>
          <td th:case="false"><div class="false-div" th:text="${n.hasEndDate}"></div></td>
        </th:block>
        
        <th:block th:switch="${n.isCoop}">
          <td th:case="true"><div class="true-div" th:text="${n.isCoop}"></div></td>
          <td th:case="false"><div class="false-div" th:text="${n.isCoop}"></div></td>
        </th:block>

        <th:block th:switch="${n.isFilled}">
          <td th:case="true"><div class="true-div" th:text="${n.isFilled}"></div></td>
          <td th:case="false"><div class="false-div" th:text="${n.isFilled}"></div></td>
        </th:block>

        <!-- For Edit function -->
        <th:block th:switch="${userRole}">
          <td th:case="admin">
            <form th:action="@{/positionedit/{id}(id=${n.serialID})}">
              <button style="border: none; background:transparent;" type="submit" value="Edit"><i style="color:#00196A"
                  class="fa fa-cog fa-lg"></i></button>
            </form>
          </td>
          <td th:case="viewedit">
            <form th:action="@{/positionedit/{id}(id=${n.serialID})}">
              <button style="border: none; background:transparent;" type="submit" value="Edit"><i style="color:#00196A"
                  class="fa fa-cog fa-lg"></i></button>
            </form>
          </td>
        </th:block>

        <!-- For Delete function -->
        <th:block th:switch="${userRole}">
          <td th:case="admin">
            <form th:action="@{/positionDelete/{id}(id=${n.serialID})}">
              <button style="border: none; background:transparent;" type="submit" value="Delete"><i style="color:#00196A" class="fa fa-trash fa-lg"></i></button>
            </form>
          </td>
          <td th:case="viewedit">
            <form th:action="@{/positionDelete/{id}(id=${n.serialID})}">
              <button style="border: none; background:transparent;" type="submit" value="Delete"><i style="color:#00196A" class="fa fa-trash fa-lg"></i></button>
            </form>
          </td>
        </th:block>
      </tr>

    </table>
    <br>

  </div>
  <!-- <div class="container">
      <h2 style="text-align: center">Employment Visualization Graph</h2> -->

  <!-- <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
  </div> -->
  <div style="font-family: Quicksand, sans-serif;" class="db-container">
    <h1 style="text-align: center">Employment Visualization Graph</h1>
    <input type="date" id="fromDate" placeholder="From:" />
    <input type="date" id="toDate" placeholder="To:" />
    <button class="chartBtn" onclick="drawChart()">Draw Graph</button>
  </div>


  <div class="container">

    <div id="container" style="width: 900px; height: 400px; margin: 0 auto"></div>

    <script th:inline="javascript">

      document.getElementById('fromDate').value = new Date().toDateInputValue();
      document.getElementById('toDate').value = new Date().toDateInputValue();

      drawChart; //maybe???

      function drawChart() {
        // $(function () {
        Highcharts.chart("container", {
          chart: {
            type: "columnrange",
            inverted: true,
            width: 900
          },

          accessibility: {
            description:
              "Visualization of employment"
          },

          // zones: [{
          //   value: 200,
          //   color: '#bdbdbd'
          // }, {
          //   value: 300,
          //   color: '#ff0000'
          // },
          // {
          //   value: 500,
          //   color: 'blue'
          // }, {
          //   value: 800,
          //   color: 'black'
          // }],

          title: {
            text: "Start and End of Commitments"
          },

          subtitle: {
            text: "Employee Names are presented on Y - Axis"
          },

          xAxis: {
            categories: [[${ Names }]]
          },

          yAxis: {
            // title: {
            //   text: "Months ( 1 - 12 )"
            // }
            type: 'datetime',
            startOnTick: true,
            endOnTick: true,
            // min: new Date('2021/01/01').getTime(),
            //
            // max: [[${maxDate}]],
            // max: new Date('2022/01/01').getTime(),
            //IT SHOWS WEEKLY!!!!!!!!!! EACH WEEK. IF YOU SAY MAX IS 13 JULY, IT WILL SHOW
            //WHOLE WEEK WHERE JULY 13 IS
            min: document.getElementById('fromDate').valueAsDate.getTime(),
            max: document.getElementById('toDate').valueAsDate.getTime(),
            dateTimeLabelFormats: {
              week: '%e of %b'
            },
            units: [
              [
                'week', [1]
              ],
              [
                'month', [1]
              ]
            ],
            tickInterval: 7 * 24 * 3600 * 1000
          },

          tooltip: {
            formatter: function () {
              //   return Highcharts.dateFormat('%Y %e. %b', this.y);
              // }
              //formatter: function() {
              //return Highcharts.dateFormat('%Y %e. %b', this.y);
              if (!(this.point.high)) {
                return 'Permament position from ' + Highcharts.dateFormat('%Y %e. %b', this.point.low);
              } else {
                return 'From: ' + Highcharts.dateFormat('%Y %e. %b', this.point.low) + ' To: ' +
                  Highcharts.dateFormat('%Y %e. %b', this.point.high);
              }
            }

          },
          legend: {
            enabled: true
          },

          series: [
            {
              name: "Permament positions",
              color: "#FA8072",
              data: [[${ permamentDates }]]
            },
            {
              name: "Coop positions",
              color: "#9dd1f3",
              data: [[${ finalDates }]]
            }
          ]
        });
        // });
      };
    </script>
  </div>
</body>


<div class="db-container">
  <button style="font-family: Quicksand, sans-serif;" class="back-btn" onclick="window.history.back();">Go Back</button>
</div>

</html>