<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}"></html>
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/WorkItemGraph.css">
    <script src="JavaScript/PositionGraph.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  
    <!-- For live server - please remove in final iteration!-->
    <!-- <link rel="stylesheet" href="/src/main/resources/public/stylesheets/WorkItemSubmit.css"> -->
  
    <!-- Google font Quicksand-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  
    <title>Workitem Graph</title>
  </head>
  <body>
    <div id="container" style="width: 80%; height: 600px; margin: 0 auto"></div>
  </body>
  <script th:inline="javascript" type="text/javascript">
      var Positions = /*[[${Positions}]]*/ "this is a placeholder string that the user should never see";
      calculateGraph();
  </script>