<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:action="@{/viewDetails}" href="/stylesheets/PositionSubmit.css">
  <title>Submit New Position</title>

  <!-- For live server - please remove in final iteration!-->
  <link rel="stylesheet" href="/src/main/resources/public/stylesheets/PositionSubmit.css">

  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>
  <h1>New Position Form</h1>
  <h4>Enter the details for the new position</h4>
  <div class="form-data">
    <form action="#" method="post" th:action="@{/PositionSubmit}" th:object="${Position}">
      <div class="form-name">Name<sup>*</sup></div>
      <input style="font-family: Quicksand, sans-serif;" type="text" id="Name" th:field="*{Name}" placeholder="Name of the Resource" required />
      <div class="form-name">Team<sup>*</sup></div>
      <input style="font-family: Quicksand, sans-serif;" type="text" id="Team" th:field="*{Team}" placeholder="Name of the Team" required />
      <div class="form-name">Role<sup>*</sup></div>
      <input style="font-family: Quicksand, sans-serif;" type="text" id="Role" th:field="*{Role}" placeholder="Role of the position" required />
      <div class="form-name">Starting Date<sup>*</sup></div>
      <input style="font-family: Quicksand, sans-serif;" type="date" id="sd" th:field="*{StartDate}" placeholder="Starting Date" onchange="InvalidDateCheck()"
        required />
      <div id="endDateLabel" class="form-name">Ending Date (If Applicable)</div>
      <input style="font-family: Quicksand, sans-serif;" type="date" id="ed" th:field="*{EndDate}" placeholder="Ending Date (If Applicable)"
        onchange="InvalidDateCheck()" required />
      </input>
      <br />
      <label for="checkbox" class="form-name">Is there a position end date?<sup>*</sup></label>
      <input type="radio" name="negative" th:field="*{hasEndDate}" id="noCheck" onclick="javascript:yesnoCheck();"
        value="no"><label class="form-name">No</label></input>
      <input type="radio" name="affirmative" id="yesCheck" onclick="javascript:yesnoCheck();" th:field="*{hasEndDate}"
        value="yes" checked="false"><label class="form-name">Yes</label></input><br><br>
      <div class="form-name">Co-op position? <input type="checkbox" th:field="*{isCoop}"></div><br>
      <div class="form-name">Position currently filled? <input type="checkbox" th:field="*{isFilled}"></div><br>
      <input style="font-family: Quicksand, sans-serif;" type="submit" value="Submit Data" />
      <input style="font-family: Quicksand, sans-serif;" class="reset" type="button" onclick="resetform()" value="Reset">
      <input type="reset" onclick="yesnoCheck();resetform()" value="reset krlo">
    </form>
  </div>
  <script type="text/javascript">
    function yesnoCheck() {
      if (document.getElementById('yesCheck').checked) {
        document.getElementById('ed').style.display = "block";
        document.getElementById("endDateLabel").hidden = false;
        document.getElementById('ed').required = true;
      }
      else if (document.getElementById('noCheck').checked) {
        document.getElementById('ed').style.display = "none";
        document.getElementById("endDateLabel").hidden = true;
        document.getElementById('ed').required = false;
      }
    }
    function resetform() {
      $('#form').trigger("reset");
      document.getElementById('Name').value = "";
      document.getElementById('Team').value = "";
      document.getElementById('Role').value = "";
      console.log(new Date());
      document.getElementById('sd').valueAsDate = new Date();
      document.getElementById('ed').valueAsDate = new Date();

    }
    function InvalidDateCheck() {
      var StartDate = document.getElementById("sd").valueAsDate;
      var EndDate = document.getElementById("ed").valueAsDate;
      if (EndDate < StartDate) {
        document.getElementById("ed").valueAsDate = StartDate;
      }
    }
    resetform();
    yesnoCheck();
  </script>
</body>

</html>