<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--Font & Icon import-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google font Quicksand-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/ProfileController.css">
    <script src="/JavaScript/ProfileController.js"></script>

    <!-- For VSCode live server -->
    <link rel="stylesheet" href="/src/main/resources/public/stylesheets/ProfileController.css">

    <title>User Management</title>
</head>

<body>
    <div style="font-family: Quicksand, sans-serif;" class="db-container">
        <h1>User Management: Grant or Revoke Permissions</h1>
        <h4>Select a user below to modify their permissions</h4>
        <table>
            <tr class="table-header">
                <th style="border-top-left-radius: 7px;" class="header-name">User - Email Address</th>
                <th class="header-name">Current Permission Type</th>
                <th class="header-name">Select User</th> <!-- Select User button-->
                <th class="header-name" style="border-top-right-radius: 7px;">Delete User</th> <!-- Delete button-->
                
            </tr>

            <tr th:each="n:${Users}">
                <td th:text="${n.Email}"></td>
                <td th:text="${n.Role}"></td>
                <td><button type="button" th:attr="onclick=|setup('${n.Email}','${n.Role}')|">Select User</button></td>

                <th:block th:switch="${userRole}">
                    <td th:case="admin">
                      <form th:action="@{/UserDelete/{email}(email=${n.Email})}">
                        <button style="border: none; background:transparent;" type="submit" value="Delete"><i style="color:#00196A" class="fas fa-user-slash fa-lg"></i></button>
                      </form>
                    </td>
                    <td th:case="viewedit">
                      <form th:action="@{/UserDelete/{email}(email=${n.Email})}">
                        <button style="border: none; background:transparent;" type="submit" value="Delete"><i style="color:#00196A" class="fas fa-user-slash fa-lg"></i></button>
                      </form>
                    </td>
                    <td th:case="viewonly">
                    </td>
                    <td th:case="unverified">
                    </td>
                </th:block>
            </tr>



            <tr class="table-footer">
                <th style="border-bottom-left-radius: 7px;" class="header-name"></th>
                <th class="header-name"></th>
                <th class="header-name"></th>
                <th class="header-name" style="border-bottom-right-radius: 7px;"></th>
            </tr>
        </table>
    </div>
    <div class="databox">
        <form style="margin-left: 0 auto; text-align: center; font-family: Quicksand, sans-serif;" action="#" method="post" th:action="@{/ManageUsers}" th:object="${PermissionData}">
            <input type="text" name="role" value="" id="role" hidden></input>
            <input type="text" name="email" value="" id="email" hidden></input>
            <h1 style="color:lavenderblush;">Selected User: </h1>
            <h4 class="targetuser" id="displaymail"></h4>
            <br>
            <br>

            <h4 style="color:lavenderblush;">Select a permission type below:</h4>
            <div>Administrator:<input type="radio" name="currole" value="admin" onchange="modifyfields()" id="admin"></div>
            <div>View & Edit:<input type="radio" name="currole" value="View/Edit" onchange="modifyfields()" id="ViewEdit"></div>
            <div>View Only:<input type="radio" name="currole" value="View Only" onchange="modifyfields()" id="ViewOnly"></div>
            <div>Unverified/None:<input type="radio" name="currole" value="unverified" onchange="modifyfields()" id="unverified"></div>

            <br>
            <input style="font-family: Quicksand, sans-serif;" type="submit" value="Update User Permissions"/>
        </form>
    </div>
</body>

</html>