<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/ProfileController.css">
    <script src="/JavaScript/ProfileController.js"></script>
    <title>User Management</title>
</head>

<body>
    <div class="db-container">
        <h1>User Management: Grant or Revoke Permissions</h1>
        <table>
            <tr class="table-header">
                <th style="border-top-left-radius: 7px;" class="header-name">Email Address</th>
                <th class="header-name">Role</th>
                <th class="header-name" style="border-top-right-radius: 7px;"></th>
            </tr>
            <tr th:each="n:${Users}">
                <td th:text="${n.Email}"></td>
                <td th:text="${n.Role}"></td>
                <td><button type="button" th:attr="onclick=|setup('${n.Email}','${n.Role}')|">Select User</button></td>
            </tr>
            <tr class="table-header">
                <th style="border-bottom-left-radius: 7px;" class="header-name"></th>
                <th class="header-name"></th>
                <th class="header-name" style="border-bottom-right-radius: 7px;"></th>
            </tr>
        </table>
    </div>
    <div class="databox">
        <div>Select A User above to Modify Permissions</div>
        <form action="#" method="post" th:action="@{/ManageUsers}" th:object="${PermissionData}">
            <input type="text" name="role" value="" id="role" hidden></input>
            <input type="text" name="email" value="" id="email" hidden></input>
            <div>Chosen User: </div><div class="targetuser" id="displaymail"></div>
            <div>Unverified:<input type="radio" name="currole" value="unverified" onchange="modifyfields()"
                    id="unverified"></div>
            <div>View Only:<input type="radio" name="currole" value="View Only" onchange="modifyfields()" id="ViewOnly">
            </div>
            <div>View/Edit:<input type="radio" name="currole" value="View/Edit" onchange="modifyfields()" id="ViewEdit">
            </div>
            <div>Administrator:<input type="radio" name="currole" value="admin" onchange="modifyfields()" id="admin">
            </div>
            <input type="submit" value="Update User" />
        </form>
    </div>
</body>

</html>