<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}"></html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/WorkItemView.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <!-- For VSCode live server -->
  <!-- <link rel="stylesheet" href="/src/main/resources/public/stylesheets/WorkItemView.css"> -->
  <title>Square Database</title>
</head>

<body>
  <div class="db-container">
    <h1 style="color: lavenderblush;">Database Output</h1>
    <table class="styled-table">
      <tr class="table-header" style="color: lavenderblush;">
        <th class="header-name" style="padding-right: 150px; border-top-left-radius: 7px;">Item Name</th>
        <th class="header-name" style="padding-right: 100px">Item Type</th>
        <th class="header-name" style="padding-right: 50px">Start Date</th>
        <th class="header-name" style="padding-right: 50px">End Date</th>
        <th class="header-name" style="padding-right: 100px">Teams</th>
        <th class="header-name" style="padding-right: 20px">Funding Information</th>
        <th class="header-name" style="border-top-right-radius: 7px;"></th>
        
        <tr th:each="n:${WorkItems}">
        <td style="padding-right: 150px" th:text="${n.ItemName}"></td>
        <td style="padding-right: 100px" th:text="${n.ItemType}"></td>
        <td style="padding-right: 50px" th:text="${n.StartDate}"></td>
        <td style="padding-right: 50px" th:text="${n.EndDate}"></td>
        <td style="padding-right: 100px" th:text="${n.TeamsAssigned}"></td>
        <td style="padding-right: 20px" th:text="${n.FundingInformation}"></td>
        <th:block th:switch="${userRole}">
        <td th:case="admin">
          <form th:action="@{/WorkItemEdit/{id}(id=${n.Id})}">
            <button style="border: none; background:transparent;" type="submit" value="Edit"><i style="color:#00196A" class="fa fa-cog fa-lg"></i></button>
          </form>
        </td>
        </th:block>
        </tr>
    </table>
    <br>
    <button onclick="window.history.back();">Go Back</button>
  </div>
</body>
</html>
