<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}"></html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Square Database</title>
</head>
<body>
  <div>
    <h1>New Work Item</h1>
    <h5>Enter the details for the new Work Item</h5>
    <form action="#" method="post" th:action="@{/WorkItemSubmit}" th:object="${WorkItem}">
        <input type="text" th:field="*{ItemName}" placeholder="Work Item Name" required> <br>
        <input type="date" th:field="*{StartDate}" placeholder="Start Date" required> <input type="date" th:field="*{EndDate}" placeholder="End Date" required> <br>
        <label>Dev</label><input type="radio" value="Dev" th:feild="*{ItemType}" name="ItemType"> <br>
        <label>QA</label><input type="radio" value="QA" th:feild="*{ItemType}" name="ItemType"> <br>
        <input type="text" placeholder="Teams Assigned" required> <br>
        <input type="text" th:field="*{FundingInformation}" placeholder="Funding Information" required> <br>
        <input type="submit" value="New Work Item">
    </form>
  </div>
</body>
</html>