<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}"></html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Square Database</title>
</head>
<body>
  <div>
    <h1>New Work Item</h1>
    <h5>Enter the details for the new Work Item</h5>
    <form action="#" method="post" th:action="@{/WorkItemSubmit}" th:object="${WorkItem}">
        <input type="text" th:field="*{name}" placeholder="Work Item Name"> <br>
        <input type="date" th:field="*{startdate}" placeholder="Start Date"> <input type="date" th:field="*{enddate}" placeholder="End Date"> <br>
        <label>Dev</label><input type="radio" value="Dev" name="itemtype"> <br>
        <label>QA</label><input type="radio" value="QA" name="itemtype"> <br>
        <input type="text" th:field="*{teamsassigned}" placeholder="Teams Assigned"> <br>
        <input type="text" th:field="*{fundinginformation}" placeholder="Funding Information"> <br>
        <input type="submit" value="New Work Item">
    </form>
  </div>
</body>
</html>