<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/WorkItemSubmit.css">
  <script src="JavaScript/WorkItemForm.js"></script>

  <!-- For live server - please remove in final iteration!-->
  <link rel="stylesheet" href="/src/main/resources/public/stylesheets/WorkItemSubmit.css">

  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

  <title>Submit New Workitem</title>
</head>

<body>
  <div class="form-data">
    <h1>New Work Item Form</h1>
    <h5>Enter the details for the new Work Item</h5>
    <div class="databox">
    <form action="#" method="post" th:action="@{/WorkItemSubmit}" th:object="${WorkItem}">
      <label style="font-weight: bolder;">Name: </label>
      <input class="workitem-name" type="text" th:field="*{ItemName}" placeholder="Work Item Name" required>

      <div>
        <label style="font-weight: bolder;">Start Date: </label><br>
        <input class="workitem-startdate" type="date" th:field="*{StartDate}" onchange="UpdateTable()" id="startDate"
          required></br>

        <label style="font-weight: bolder;">End Date: </label><br>
        <input class="workitem-enddate" type="date" th:field="*{EndDate}" onchange="UpdateTable()" id="endDate"
          required>

        <label style="font-weight: bolder;padding-right: 20px;">Role: </label>
        <label class="radio-container">Dev
          <input type="radio" value="Dev" th:field="*{ItemType}" name="ItemType" checked required>
          <span class="checkmark"></span>
        </label>

        <label class="radio-container">QA
          <input type="radio" value="QA" th:field="*{ItemType}" name="ItemType">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="tablebox1">
        <div class="ateamtitle">Assigned Resources</div>
        <table id="InputTable" onchange="createTeamString()">
          <tr id="Row0">
            <td class="headerrow">Resource Name</td>
          </tr>
          <tr id="Row1">
            <td class="rowname"><input type='text' id="cell1:0" required><br><button class="delbtn" type='button' id="btn1"
                onclick='deleterow(1)'>Delete This Row</button></td>
            <td><input type='number' id="cell1:1" min="0" required></td>
          </tr>
        </table>
        <button class="addteambtn" type="button" onclick="AddTeam()">Add Team</button>
      </div>
      <input type="hidden" id="TBstring" th:field="*{TeamsAssigned}"></input>
      <div><textarea cols="30" rows="5" th:field="*{FundingInformation}" name="FundingInformation"
          placeholder="Funding Information" required></textarea></div>
      <input type="submit" value="New Work Item">
    </form>
  </div>
  </div>
  <script>
    document.getElementById('startDate').valueAsDate = new Date();
    document.getElementById('endDate').valueAsDate = new Date();
    UpdateTable();
  </script>
</body>

</html>